body {
    background-color: #dac5f7;
    font-family: Arial, Helvetica, sans-serif;
}

.main-title {
    text-align: center;
    margin: 10% 0px 0px 0px;
    text-shadow: 1px 1px 1px;
    color: #1C1C1C;
    font-size: 20px;
}

.main-div {
    border: 3px solid #a48fc6;
    border-radius: 15px;
    width: 22%;
    height: 100%;
    margin: auto;
}

.main-table {
    margin: 10px 0px 0px 9px;
}

th {
    border: 2px solid #a48fc6;
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    width: 100%;
    text-align: left;
    color: #1C1C1C;
    background-color: whitesmoke;
}

td {
    border: 2px solid #a48fc6;
    border-radius: 15px;
    width: 100px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    font-weight: 900;
    background-color: whitesmoke;
}

.button-div {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.reboot-button {
    padding: 10px 10px 10px 10px;
    font-weight: 900;
    border: 2px solid #a48fc6;
    border-radius: 15px;
    margin: 0px 0px 4% 0px;
    text-transform: uppercase;
}

.reboot-button:hover {
    background-color: #c3ade6;
}

.reboot-image {
    margin: 0px 5px 0px 0px;
}
