<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', path='styles-index.css') }}", rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-title">
            <h1>Página Inicial da Calculadora</h1>
        </div>
    </header>
    <main>
        <article class="main-article">
            <div class="subtitle">
                <h2>Clique na opção desejada</h2>
            </div>
        <div class="content-div">
            <form method="post" action="new">
                <div class="new-div">
                    <label for="new_button">Calcular preço com barbante novo</label><br>
                    <input class="new-button" type="submit" value="novo">
                </div>
            </form>
            <form method="post" action="used">
                <div class="used-div">
                    <label for="used_button">Calcular preço com barbante usado</label><br>
                    <input class="used-button" type="submit" value="usado">
                </div>
            </form>
        </div>
        </article>
    </main>
</body>
</html>
