<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculando produto usado</title>
    <link href="{{ url_for('static', path='styles-used.css') }}", rel="stylesheet">
</head>
<body>
    <header>
        <div class="main-title">
            <h1>{{ title }}</h1>
        </div>
    </header>
    <main>
        <div class="content-div">
            <article>
                <form method="post" action="used/used_return_cost">
                    
                </form>
            </article>
        </div>
    </main>
</body>
</html>